/*Add css rules for the panel here*/
.jqte {
    border:1px solid #CCCCCC;
    width: 1000px;
}

#typeheadtest {
    width: 300px;
}

#subjectBox {
    -moz-box-sizing: border-box;
    width: 100%;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 3px;
}
.select2-container {
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

#wrapper {
    padding: 20px;
    position: absolute;
    right: 300px;
    left: 0;
}

.row {
    margin-bottom: 10px;
}

#sendButton {
    margin-top: 30px;
}

#attachmentPanel {
    width: 280px;
    position: absolute;
    right: 0;
    padding: 20px;
}